body {
    background: #fff;
    color: #1B1B25;
  }

.personal_info{
  text-align: center;  
  font-family: 'Josefin Sans', sans-serif;
}

.title {
margin-top: 100px;
margin-bottom: 10px;
}

hr {
    width: 90%;
}


.page_content {
  padding: 20px;
  
  p {
    font-size: 1.6rem;
    letter-spacing: .2rem;
  }
}
  